@import url('https://fonts.googleapis.com/css2?family=Overpass:wght@400;700&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font: inherit;
}
:root {
  /* COLORS */
  --Orange: hsl(25, 97%, 53%);
  --White: hsl(0, 0%, 100%);
  --clr-text: #969fad;
  --score-fg: #7c8798;
  --score-bg: #262e38;
  --bg: #131518;
  --card-bg: radial-gradient(98.96% 98.96% at 50% 0%, #232a34 0%, #181e27 100%);
  /* TYPOGRAPHY */
  --fs-heading: 2.8rem;
  --fs-text: 1.5rem;
  --fs-score: 1.6rem;
  --fs-btn: 1.5rem;
  --ff-primary: 'Overpass', sans-serif;
}
@media (max-width: 425px) {
  :root {
    --fs-heading: 2.4rem;
    --fs-text: 1.4rem;
    --fs-score: 1.4rem;
    --fs-btn: 1.4rem;
  }
}
html {
  font-size: 62.5%;
}
body {
  font-size: var(--fs-text);
  font-family: var(--ff-primary);
  background: var(--bg);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  padding-inline: 2.4rem;
}
img,
svg {
  display: block;
  width: 100%;
}
h1 {
  font-size: var(--fs-heading);
  font-weight: 700;
  color: var(--White);
}

p {
  font-size: var(--fs-text);
  color: var(--clr-text);
}
main {
  max-width: 412px;
}
.rating-card {
  background: var(--card-bg);
  border-radius: 1.5rem;
  padding: 3.2rem 2.4rem;
  display: grid;
  display: none;
}
.star-box {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  background: var(--score-bg);
  display: grid;
  place-content: center;
}
.star-icon {
  max-width: 16px;
}
.rating-text {
  margin-top: 3.1rem;
  margin-bottom: 2.4rem;
}
.rating-text h1 {
  margin-bottom: 0.7rem;
}
.rating-scores {
  margin-bottom: 3.2rem;
  display: flex;
  align-items: center;
  column-gap: 2.1rem;
}
.score {
  background: var(--score-bg);
  color: var(--score-fg);
  width: 51px;
  height: 51px;
  display: grid;
  place-content: center;
  font-weight: 700;
  border-radius: 50%;
  cursor: pointer;
  transition: all 0.1s ease-in;
}
.score:hover {
  background: var(--Orange);
  color: var(--White);
}
.score.active {
  background-color: var(--score-fg);
  color: var(--White);
}
.btn {
  border: none;
  padding: 1.1rem 0;
  border-radius: 2.25rem;
  font-weight: 700;
  background: var(--Orange);
  color: var(--White);
  font-size: var(--fs-btn);
  cursor: pointer;
}
.btn:hover {
  background: var(--White);
  color: var(--Orange);
}

/* THANK YOU */
.thankyou-card {
  background: var(--card-bg);
  border-radius: 1.5rem;
  padding: 3.2rem 2.4rem;
  display: grid;
  text-align: center;
}
.thankyou-card img {
  max-width: 162px;
  margin-bottom: 3.6rem;
  margin-inline: auto;
}
.thankyou-feedback {
  font-size: var(--fs-text);
  background-color: var(--score-bg);
  border-radius: 22.5rem;
  padding: 0.4rem 1.9rem;
  max-width: 65%;
  margin-inline: auto;
  color: var(--Orange);
  margin-bottom: 3.2rem;
}
.thankyou-card h1 {
  margin-bottom: 0.7rem;
}
@media (max-width: 425px) {
  .rating-text {
    margin-top: 1.6rem;
  }
  .rating-text h1 {
    margin-bottom: 1rem;
  }
  .rating-scores {
    column-gap: 1.7rem;
  }
  .rating-scores {
    margin-bottom: 2.4rem;
  }

  /* THANK YOU */
  .thankyou-card img {
    margin-bottom: 2.9rem;
  }
  .thankyou-feedback {
    margin-bottom: 2.9rem;
  }
  .thankyou-card h1 {
    margin-bottom: 1rem;
  }
}
